{% extends "layout.html" %}

{% block body %}

	<body>
		
		<div class="container">

		  <div class="row">

		    <div class="col-md-8 offset-md-2">

		    	<div class="card">



				  <div class="card-header card-style">
				    Create User
				  </div>

				  <div class="card-block">

					  <div class="row">

					  	<div class="col-md-12">

							<form>

							  <div class="form-group">
							    <label for="firstname">Username:</label>
							    <input type="text" class="form-control" id="username">
							  </div>
							  <div class="form-group">
							    <label for="firstname">Password</label>
							    <input type="password" class="form-control" id="password">
							  </div>
							  <div class="form-group">
							    <label for="firstname">First Name</label>
							    <input type="text" class="form-control" id="firstname">
							  </div>
							  <div class="form-group">
							    <label for="lastname">Last Name</label>
							    <input type="text" class="form-control" id="lastname">
							  </div>
							  <div class="form-group">
							    <label for="email">Email address</label>
							    <input type="email" class="form-control" id="email">
							  </div>

							  <button type="profilecancel" id="profilecancel" class="btn btn-secondary">Cancel</button>
							  <button type="profilesubmit" id="profilesubmit" class="btn btn-primary">Submit</button>

							</form>

				    	</div> <!-- col 12 -->

					  </div> <!-- row -->

				</div> <!-- Card -->

		    </div> <!-- column -->

		  </div> <!-- row -->

		</div> <!-- container -->

	</body>

{% endblock %}