



{% extends "layout.html" %}

{% block body %}

	<body>
		
		<div class="container">

		  <div class="row">

		    <div class="col-md-12">

		    	<div class="card">

					<div class="card-header card-style">

						Network Devices:

					</div>

					<div class="card-block">



						test

					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>


				    <div class="card-block">

						This is some text within a card block.

					</div>

				</div> <!-- Card -->

		    </div> <!-- column -->

		  </div> <!-- row -->

		</div> <!-- container -->

	</body>

{% endblock %}