
<html>

  <header>

    <title> {{ title }} </title>
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/tether/dist/css/tether.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" crossorigin="anonymous">

    <script src="/static/tether/dist/js/tether.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js" crossorigin="anonymous"></script>
    <script src="/static/button-controllers.js" crossorigin="anonymous"></script>
    

  </header>

  <nav id="customnavbar" class="navbar navbar-toggleable-md">


    <a class="navbar-brand custom-nav-link" href="/">Confgr</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      {% if username is defined %}

        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">

            <a class="nav-link" href="/inventory">Inventory</a>

          </li>


        </ul>
      

        <ul class="nav navbar-nav navbar-right">

          <li class="nav-item dropdown custom-nav-link">
            <a class="nav-link dropdown-toggle custom-nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ username }}
             <img src="/static/icons/user-icon.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile/{{ username }}">Profile</a>
              <a class="dropdown-item" href="/admin">Admin</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>

        </ul>

      {% endif %}

    </div>

  </nav>


  {% block body %}{% endblock %}


</html>