{% extends "layout.html" %}

{% block body %}

	<body>
		
		<div class="container">

		  <div class="row">

		    <div class="col-md-8 offset-md-2">

		    	<div class="card">



				  <div class="card-header card-style">
				    User Info
				  </div>

				  <div class="card-block">

					  <div class="row">

					  	<div class="col-md-12">

					  		<div id="username">

					  			<b>{{ username }} </b>

					  		</div>

							<form>

							  <div class="form-group">
							    <label for="firstname">First Name</label>
							    <input type="text" class="form-control" id="firstname" placeholder="{{ firstname }}">
							  </div>
							  <div class="form-group">
							    <label for="lastname">Last Name</label>
							    <input type="text" class="form-control" id="lastname" placeholder="{{ lastname }}">
							  </div>
							  <div class="form-group">
							    <label for="email">Email address</label>
							    <input type="email" class="form-control" id="email" placeholder="{{ email }}">
							  </div>

							  <button type="profilesubmit" id="profilesubmit" class="btn btn-primary">Submit</button>

							</form>

				    	</div> <!-- col 12 -->

					  </div> <!-- row -->

				</div> <!-- Card -->

		    </div> <!-- column -->

		  </div> <!-- row -->

		</div> <!-- container -->

	</body>

{% endblock %}