{% extends "layout.html" %}

{% block body %}

	<body>
		
		<div class="container">

		  <div class="row">

		    <div class="col-md-4 offset-md-4">

		    	<div class="card">

				  <div class="card-header card-style">
				    Login
				  </div>

				  <div class="card-body">

				  	<div id="login-result">

				  	</div>

					<div class="form-group">
					  <label for="username">Username</label>
					  <input type="text" class="form-control" id="username">
					</div>
					<div class="form-group">
					  <label for="password">Password</label>
					  <input type="password" class="form-control" id="password">
					</div>

					<button id="loginbutton" class="btn btn-primary">Login</button>


				  </div>

				</div> <!-- Card -->

		    </div> <!-- column -->

		  </div> <!-- row -->

		</div> <!-- container -->

	</body>

{% endblock %}