#customnavbar{

	background-color: #34495e;

}

.navbar-brand{

	color:#fff;

}

.navbar-brand:hover{

	color:#a0a0a0;

}

.nav-link{

	color:#fff;
}
.nav-link:hover{

	color:#a0a0a0;
}

.container{

	margin-top: 20px;

}

.card-style{

	background-color: #34495e;
	color:fff;


}

#netboxconnectionstatus{

	color:#95a5a6;

}

.devicerow{

	border-bottom-width:1px;
	border-bottom-style:solid;
	border-color:#dbdbdb;

	padding-top:2px;
	padding-bottom:2px;
}
.devicerow:hover{

	background-color:#f7f7f7;

}

.errormessage{


	margin-top:75px;
	font-size:5em;

}

.connectionerror{

	color:red;

}

